* {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Ensures padding doesn't affect overall dimensions */
}

.container-m {
    background-color: burlywood;
    width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(65, 8, 8, 0.7);  /* Optional: Adds shadow for better visibility */
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.display {
    height: 50px;
    padding: 20px;
    border: 1px solid rgb(63, 2, 2);
    margin: 2px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: right;
}

button {
    width: 90px;
    height: 90px;
}