* {
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Ensures padding doesn't affect overall dimensions */
}



.container-m {
    background-color: burlywood;
    width: 460px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(65, 8, 8, 0.7);  /* Optional: Adds shadow for better visibility */
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.display {
    height: 70px;
    padding: 10px 20px 10px 20px;
    border: 1.2px solid rgb(105, 53, 9);
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: rgb(82, 40, 6);
}

button {
    width: 90px;
    height: 90px;
    font-size: 30px;
    font-weight: 550;
    border-radius: 10px;
    color: rgb(82, 40, 6);
    border: 1.4px solid rgb(105, 53, 9);
}

.layout {
    width: 280px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
}

.layout-m {
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center;
    gap: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.result { /* Additional styling for the equal button to ensure it aligns correctly */
    margin-left: auto; /* This pushes the equal button to the right */
    width: 90px; /* Ensures size consistency */
    height: 186px;
}